<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">OTP Settings</h1> 

                        <div class="form-group row">
                            <label for="length" class="col-md-4 col-form-label text-md-right">Length</label>

                            <div class="col-md-6">
                                <input id="length" type="text" class="form-control" name="length" v-model="length" required autofocus>
                                <p class="text-danger m-0" v-for="length in errors.length"><small>{{ length }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="allowed_per_hour" class="col-md-4 col-form-label text-md-right">OTP's Allowed Per Hour</label>

                            <div class="col-md-6">
                                <input id="allowed_per_hour" type="text" class="form-control" name="allowed_per_hour" v-model="allowed_per_hour" required autofocus>
                                <p class="text-danger m-0" v-for="allowed_per_hour in errors.allowed_per_hour"><small>{{ allowed_per_hour }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="expiration" class="col-md-4 col-form-label text-md-right">Expiration Period <small>(sec)</small></label>

                            <div class="col-md-6">
                                <input id="expiration" type="text" class="form-control" name="expiration" v-model="expiration" required autofocus>
                                <p class="text-danger m-0" v-for="expiration in errors.expiration"><small>{{ expiration }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="resend_grace_period" class="col-md-4 col-form-label text-md-right">Resend Grace Period <small>(sec)</small></label>

                            <div class="col-md-6">
                                <input id="resend_grace_period" type="text" class="form-control" name="resend_grace_period" v-model="resend_grace_period" required autofocus>
                                <p class="text-danger m-0" v-for="resend_grace_period in errors.resend_grace_period"><small>{{ resend_grace_period }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="resend_max" class="col-md-4 col-form-label text-md-right">Resend Ceiling</label>

                            <div class="col-md-6">
                                <input id="resend_max" type="text" class="form-control" name="resend_max" v-model="resend_max" required autofocus>
                                <p class="text-danger m-0" v-for="resend_max in errors.resend_max"><small>{{ resend_max }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="allowed_attempts" class="col-md-4 col-form-label text-md-right">Validation Attempts Allowed</label>

                            <div class="col-md-6">
                                <input id="allowed_attempts" type="text" class="form-control" name="allowed_attempts" v-model="allowed_attempts" required autofocus>
                                <p class="text-danger m-0" v-for="allowed_attempts in errors.allowed_attempts"><small>{{ allowed_attempts }}</small></p>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button v-if="notProcessing" class="btn btn-primary mr-1" v-on:click="updateSettings">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                length: '',
                allowed_per_hour: '',
                expiration: '',
                resend_grace_period: '',
                resend_max: '',
                allowed_attempts: '',
                errors: {},
                notProcessing: true
            }
        },
        mounted() {
            this.getOtpSettings();
        },
        methods: {
            getOtpSettings()
            {
                $.ajax({
                    url: '/get-otp-settings',
                    method: 'GET',
                    success: function(response) {
                        if(response) {
                            this.length = response.length
                            this.allowed_per_hour = response.allowed_per_hour
                            this.expiration = response.expiration
                            this.resend_grace_period = response.resend_grace_period
                            this.resend_max = response.resend_max
                            this.allowed_attempts = response.allowed_attempts;

                            return;
                        }

                        this.length = '';
                        this.allowed_per_hour = '';
                        this.expiration = '';
                        this.resend_grace_period = '';
                        this.resend_max = '';
                        this.allowed_attempts = '';
                    }.bind(this)
                });
            },
            updateSettings()
            {
                this.notProcessing = false;
                $.ajax({
                    url: '/update-otp-settings',
                    method: 'PUT',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: { 
                        'length' : this.length,
                        'allowed_per_hour' : this.allowed_per_hour,
                        'expiration' : this.expiration,
                        'resend_grace_period' : this.resend_grace_period,
                        'resend_max' : this.resend_max,
                        'allowed_attempts' : this.allowed_attempts
                    },
                    success: function(response) {
                        if(response.status) {
                            swal({
                                title: "Success",
                                text: response.message,
                                icon: "success",
                            });

                            this.notProcessing = true;

                            return;
                        }

                        swal({
                            title: "Mzansi we have a problem!",
                            text: response.message,
                            icon: "error",
                        });

                        this.notProcessing = true;
                    }.bind(this),
                    error: function(response) {
                        this.errors = $.parseJSON(response.responseText).errors;
                        this.notProcessing = true;
                    }.bind(this)
                });
            }
        },
    }
</script>
